<a href="https://colab.research.google.com/github/Lipeee20/Pemerograman-Dasar/blob/main/Latihan_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

A. Pertama, kita mengimpor NumPy, dan memanggilnya dengan alias np.
NumPy itu biasanya kita pakai untuk operasi matematika atau manipulasi array yang besar.

- Misalnya, ketika kita mau ngitung rata-rata, standar deviasi, atau membuat data acak.
- Intinya, library ini dipake kalau kita butuh kerjaan yang berhubungan dengan angka dan array.

B.  import pandas as pd
Selanjutnya, kita impor Pandas, dengan alias pd.

- Pandas adalah library utama untuk bekerja dengan data tabular, seperti CSV, Excel, atau tabel database.
- Dengan Pandas, kita bisa membaca file data (seperti mahasiswa.csv), membersihkan data, memilih kolom tertentu, sampai membuat analisis deskriptif.

C. import matplotlib.pyplot as plt
Lalu, kita impor library matplotlib, khususnya modul pyplot, yang diberi alias plt.

- Ini dipakai untuk membuat grafik.
- Dari grafik batang, garis, pie chart, scatter plot, semuanya bisa dibuat pakai matplotlib.
- Biasanya jadi pondasi utama sebelum kita pakai library visualisasi lain.

D. import seaborn as sns
Terakhir, kita impor seaborn.

- Seaborn itu dibangun di atas matplotlib, tapi tampilannya lebih modern dan estetik.
- Biasanya kita pakai kalau mau visualisasi data yang lebih rapi dan informatif.
Sangat cocok untuk analisis data statistik.

In [ ]:
LIPEEE_df = pd.read_csv ('/content/mahasiswa.csv')
#import file csv

Penejelasan Langkah-langkahnya:

- Sebelumnya, kita sudah mengimpor library pandas sebagai pd, supaya kita bisa menggunakan fungsi yang ada di dalamnya untuk analisis data.
- Selanjutnya, ketika kita memanggil pd.read_csv(), kita sebenarnya sedang meminta Python untuk membuka file CSV yang berisi data mentah yang ingin kita analisis.
- Python lalu membaca file bernama mahasiswa.csv yang lokasinya kita tulis, yaitu /content/mahasiswa.csv. Lokasi ini biasanya dipakai kalau kita bekerja di Google Colab.
- Setelah file ditemukan, pandas akan membuka isinya, membaca setiap baris tabel, dan mengubahnya menjadi DataFrame, yaitu bentuk tabel yang rapi dan mudah kita olah.
- Lalu, DataFrame hasil pembacaan tadi disimpan ke dalam variabel LIPEEE_df, sehingga kita bisa mengakses data tersebut untuk langkah berikutnya seperti melihat data teratas, membersihkan data, atau melakukan visualisasi.

In [ ]:
LIPEEE_df.head()
#melihat 5 data teratas

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22

Penjelasan Langkah-langkahnya

- Sebelumnya, kita sudah berhasil membaca file CSV dan menyimpannya ke dalam sebuah DataFrame bernama LIPEEE_df.
- Selanjutnya, ketika kita memanggil fungsi .head(), kita sebenarnya sedang meminta Pandas untuk menampilkan sebagian kecil data saja, supaya kita bisa cek apakah data sudah terbaca dengan benar.
- Fungsi .head() secara otomatis menampilkan 5 baris pertama, sehingga kita tidak perlu menulis apa pun tambahan kecuali kalau mau menampilkan jumlah baris yang berbeda.
- Lalu, tujuan dari langkah ini adalah untuk melihat struktur awal dataset seperti nama kolom, contoh isi data, dan apakah format datanya sudah sesuai.
- Dengan cara ini, kita bisa memastikan dataset aman untuk dianalisis lebih lanjut, misalnya melakukan cleaning data, mengecek missing value, atau membuat visualisasi.

In [ ]:
LIPEEE_df.tail()
#melihat 5 data terbawah

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

Penjelasan Langkah-langkahnya

- Sebelumnya, kita sudah punya DataFrame LIPEEE_df hasil impor dari file CSV. Setelah melihat 5 baris teratas dengan .head(), biasanya kita juga perlu melihat bagian bawah datanya.
- Selanjutnya, ketika kita memanggil .tail(), Pandas akan mengambil dan menampilkan 5 baris terakhir dari DataFrame tersebut.
- Fungsi .tail() bekerja otomatis, jadi kalau tidak dikasih angka, dia langsung menampilkan 5 baris terbawah dari dataset.
- Lalu, tujuan kita melihat bagian bawah data adalah untuk memastikan bahwa tidak ada masalah di akhir file, misalnya baris kosong, data yang tidak rapi, atau format yang berbeda dari baris awal.
- Dengan melihat baris teratas dan terbawah, kita mendapatkan gambaran menyeluruh tentang keadaan dataset, sebelum masuk ke tahap pembersihan dan analisis lebih lanjut.

In [ ]:
LIPEEE_df.info()
#melihat informasi data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

Penjelasan Langkah-langkahnya

- Sebelumnya, kita sudah melihat bagian atas dan bawah dataset memakai .head() dan .tail(). Setelah itu, kita biasanya perlu tahu lebih detail tentang struktur data yang ada.
- Selanjutnya, ketika kita memanggil LIPEEE_df.info(), Pandas akan menampilkan ringkasan lengkap tentang DataFrame, bukan isi datanya, tetapi informasi teknisnya.
- Fungsi .info() akan menunjukkan beberapa hal penting, seperti jumlah baris dan kolom, nama-nama kolom, berapa banyak nilai non-null di tiap kolom, serta tipe data tiap kolom (misalnya int64, float64, object, dan lain-lain).
- Lalu, lewat informasi ini, kita bisa cepat mengetahui apakah ada kolom yang banyak missing value-nya, apakah tipe datanya sudah benar, atau apakah perlu dilakukan cleaning data.
- Dengan memakai .info(), kita mendapatkan gambaran struktur internal dataset, sehingga memudahkan kita dalam menentukan langkah selanjutnya, misalnya memperbaiki tanggal, mengatasi missing value, atau mengonversi tipe data.

dari hasil infor terdapat jumlah data yg tidak konsisten ada 2 kolom yg jumlah nya 78 sedangkan yg lainya hanya 76

In [ ]:
LIPEEE_df.isnull().sum()
#melihat jumlah data yg null

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan Langkah-langkahnya

- Setelah kita tahu struktur data lewat .info(), biasanya kita lanjut memastikan apakah ada data yang kosong atau hilang (missing value) di dalam dataset.
- Selanjutnya, ketika kita menjalankan LIPEEE_df.isnull(), Pandas akan mengecek setiap sel di DataFrame dan memberi tanda True kalau sel tersebut kosong/null, dan False kalau ada isinya.
- Lalu, kita tambahkan .sum() setelahnya supaya setiap kolom dihitung jumlah nilai True-nya. Karena True = 1 dan False = 0, hasil sum() akan menunjukkan jumlah missing value di tiap kolom.
- Dengan cara ini, kita bisa langsung tahu kolom mana yang bermasalah, misalnya banyak data hilang, atau mungkin kolom yang seharusnya berisi angka ternyata banyak kosong.
- Informasi jumlah data null ini penting karena menentukan langkah cleaning selanjutnya, seperti apakah datanya perlu diisi, dibuang, atau diperbaiki formatnya.

Terdapat 5 kolom yang NaN atau missing values

In [ ]:
print("Jumlah duplikasi: ", LIPEEE_df.duplicated().sum())

Jumlah duplikasi:  8

Penjelasan Langkah-langkahnya

- Setelah mengecek missing value, kita biasanya lanjut memastikan apakah dalam dataset ada baris yang duplikat, karena duplikasi bisa bikin analisis jadi tidak akurat.
- Selanjutnya, ketika kita memanggil LIPEEE_df.duplicated(), Pandas akan mengecek setiap baris dalam DataFrame dan menandai baris yang isinya sama persis dengan baris sebelumnya sebagai True, sedangkan baris yang unik ditandai sebagai False.
- Lalu, kita tambahkan .sum() di belakangnya supaya semua nilai True dijumlahkan. Karena True = 1, ini akan menghasilkan berapa banyak baris yang duplikat.
- Bagian print("Jumlah duplikasi: ", ...) digunakan supaya hasilnya tampil lebih rapi dan mudah dibaca, sehingga di output nanti kita langsung melihat kalimat seperti:
Jumlah duplikasi: 3
- Dengan informasi ini, kita bisa menentukan apakah dataset perlu dibersihkan dengan cara menghapus baris duplikat, terutama kalau duplikasinya cukup banyak.

Lalu terdapat juga 8 data duplikasi

In [ ]:
LIPEEE_df.drop_duplicates(inplace=True)

Penjelasan Langkah-langkahnya

- Sebelumnya, kita sudah mengecek berapa banyak baris duplikat di dalam dataset menggunakan .duplicated().sum(). Kalau ternyata ada duplikasi, langkah lanjut yang wajar adalah menghapusnya.
- Selanjutnya, ketika kita memanggil LIPEEE_df.drop_duplicates(), Pandas akan mencari semua baris yang sebelumnya terdeteksi sebagai duplikat, lalu menghapus baris-baris tersebut sehingga hanya baris yang unik yang tersisa.
- Lalu, adanya parameter inplace=True membuat perubahan dilakukan langsung pada DataFrame asli, yaitu LIPEEE_df. Artinya, kita tidak perlu membuat variabel baru untuk menampung hasilnyaâ€”datanya langsung dibersihkan pada variabel yang sama.
- Proses ini penting dalam data wrangling karena data duplikat bisa bikin analisis jadi bias, menghitung nilai terlalu besar, atau menghasilkan grafik yang tidak akurat.
- Setelah menjalankan perintah ini, dataset kita jadi lebih rapi, unik, dan siap dipakai untuk proses analisis berikutnya, seperti cleaning data lanjutan atau eksplorasi data (EDA).

Menghilangkan duplicate data dengan drop_duplicates()

In [ ]:
print("Jumlah duplikasi: ", LIPEEE_df.duplicated().sum())

Jumlah duplikasi:  0

Penjelasan Langkah-langkahnya

- Sebelumnya, kita sudah menghapus data duplikat dari DataFrame menggunakan drop_duplicates(inplace=True). Setelah itu, tentu kita perlu memastikan apakah data duplikatnya benar-benar sudah hilang.
- Selanjutnya, perintah LIPEEE_df.duplicated() akan mengecek lagi setiap baris di DataFrame. Baris yang duplikat diberi nilai True, dan baris yang unik diberi nilai False.
- Lalu, dengan menambahkan .sum(), kita menjumlahkan semua nilai True tersebut. Karena True bernilai 1, hasilnya menunjukkan jumlah baris yang masih terdeteksi sebagai duplikat.
- Bagian print("Jumlah duplikasi: ", ...) digunakan agar hasilnya tampil lebih jelas dan mudah dibaca, misalnya menjadi: Jumlah duplikasi: 0
- Output ini akan memastikan bahwa dataset kita sudah bersih dari duplikasi dan siap masuk ke tahap berikutnya dalam proses data wrangling.

Sekarang data duplikat sudah selesai

In [ ]:
LIPEEE_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan Langkah-langkahnya

- Sebelumnya, kita sudah memastikan bahwa data duplikat sudah dihapus. Langkah penting berikutnya dalam data wrangling adalah mengecek apakah masih ada data yang kosong atau hilang di tiap kolom.
- Selanjutnya, ketika kita memanggil LIPEEE_df.isna(), Pandas akan memeriksa seluruh isi DataFrame dan memberi tanda True untuk setiap sel yang kosong (NA/NaN), dan False untuk sel yang memiliki nilai.
- Lalu, kita tambahkan .sum() supaya semua nilai True dijumlahkan berdasarkan kolom. Karena True dihitung sebagai angka 1, hasil akhirnya menunjukkan berapa banyak data kosong di setiap kolom.
- Dengan cara ini, kita bisa langsung tahu kolom mana yang perlu dibersihkan, diisi ulang, atau diperbaiki formatnya sebelum lanjut ke analisis yang lebih dalam.
- Langkah ini sangat penting agar kita tidak melakukan analisis dengan data yang masih berlubang, karena hal tersebut bisa memengaruhi hasil statistik atau visualisasi nantinya.

In [ ]:
LIPEEE_df['jurusan'] = LIPEEE_df['jurusan'].fillna("Pembangkit Energi")

#di sini untuk jurusan di isi dengan "Pembangkit Energi"

Penjelasan Langkah-langkahnya

- Sebelumnya, kita sudah mengecek jumlah nilai yang kosong (NaN) di setiap kolom memakai .isna().sum(). Ternyata ada beberapa baris yang kolom jurusan-nya kosong.
- Selanjutnya, kode LIPEEE_df['jurusan'] dipakai untuk memilih kolom jurusan secara spesifik. Jadi kita hanya fokus membersihkan satu kolom ini saja.
- Lalu, kita memanggil .fillna("Pembangkit Energi"), yang artinya Pandas akan mengganti semua nilai yang kosong (NaN) di kolom jurusan dengan teks "Pembangkit Energi".
- Proses ini disebut imputasi, yaitu mengisi nilai kosong dengan nilai tertentu supaya datanya tidak bolong. Di kasus ini, kita memilih mengisinya dengan jurusan Pembangkit Energi.
- Hasilnya kemudian ditimpa kembali ke kolom jurusan melalui tanda =. Jadi sekarang kolom jurusan sudah bersih dari missing value dan tidak ada lagi yang kosong.

In [ ]:
LIPEEE_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan Langkah-langkahnya

- LIPEEE_df.isna() mengecek setiap sel dan menandai yang kosong sebagai True.
- .sum() menjumlahkan semua True sehingga kita tahu jumlah missing value per kolom.
- Langkah ini dilakukan untuk memastikan bahwa nilai kosong sudah teratasi setelah proses pengisian sebelumnya

In [ ]:
LIPEEE_df['umur'] = LIPEEE_df['umur'].fillna(21)

Penjelasan Langkah-langkahnya

- LIPEEE_df['umur'] memilih kolom umur yang ingin kita bersihkan.
- .fillna(21) mengisi semua nilai kosong (NaN) pada kolom umur dengan angka 21.
- Hasilnya menghindari data kosong dan membuat kolom umur lebih konsisten untuk analisis.

In [ ]:
LIPEEE_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan Langkah-langkahnya

- LIPEEE_df.isna() mengecek semua sel dan menandai yang kosong sebagai True.
- .sum() menghitung jumlah True sehingga kita tahu berapa missing value per kolom.
- Ini dilakukan untuk memastikan kolom umur (dan kolom lain) sudah bersih setelah pengisian nilai sebelumnya.

In [ ]:
LIPEEE_df['nilai_akhir'] = pd.to_numeric(LIPEEE_df['nilai_akhir'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

LIPEEE_df['nilai_akhir'].mean() #mecari rata-rata

np.float64(88.15384615384616)

Penjelasan Langkah-langkahnya

- pd.to_numeric(LIPEEE_df['nilai_akhir'], errors='coerce') mengubah kolom nilai_akhir menjadi tipe data numerik (float).
  
  a. Jika ada data yang bukan angka, errors='coerce' akan otomatis mengubahnya menjadi NaN agar tidak mengganggu perhitungan.
- Baris pertama menyimpan hasil konversi tersebut kembali ke kolom nilai_akhir, sehingga tipe datanya kini sudah konsisten.
- .mean() digunakan untuk menghitung rata-rata dari kolom nilai_akhir yang sudah bersih dan berbentuk angka.

In [ ]:
LIPEEE_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     object
 4   nilai_akhir     65 non-null     float64
 5   kehadiran_pct   68 non-null     float64
 6   tanggal_daftar  68 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB

Penjelasan Langkah-langkahnya

- .info() menampilkan ringkasan struktur DataFrame, seperti jumlah baris, jumlah kolom, dan nama kolom.
- Fungsi ini juga menunjukkan jumlah data non-null di tiap kolom, sehingga kita bisa melihat apakah masih ada missing value.
- .info() memberi tahu tipe data setiap kolom (misalnya int64, float64, object), sehingga kita tahu apakah data sudah benar atau perlu dikonversi.

Jika kita lihat di sini tipe data pada nilai_akhir sudah berubah menjadi float

In [ ]:
LIPEEE_df['nilai_akhir'] = LIPEEE_df['nilai_akhir'].fillna(88)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

Penjelasan Langkah-langkahnya

- LIPEEE_df['nilai_akhir'] mengambil kolom nilai_akhir yang ingin kita bersihkan.
- .fillna(88) mengisi semua nilai yang kosong (NaN) di kolom tersebut dengan angka 88, yaitu nilai rata-rata yang sudah dihitung sebelumnya.
- Langkah ini memastikan tidak ada lagi missing value sehingga perhitungan dan analisis berikutnya bisa berjalan tanpa error.

In [ ]:
LIPEEE_df.isna().sum()
#Cek Hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Penjelasan Langkah-langkahnya

- Perintah di atas digunakan untuk memastikan apakah masih ada nilai kosong (NaN) di setiap kolom pada dataframe setelah kita melakukan pengisian nilai pada kolom nilai_akhir.
- Jika langkah sebelumnya benar, maka kolom nilai_akhir sekarang seharusnya memiliki 0 missing value, sedangkan kolom lain akan menampilkan jumlah NaN sesuai datanya masing-masing.

In [ ]:
LIPEEE_df['kehadiran_pct'] = pd.to_numeric(LIPEEE_df['kehadiran_pct'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

LIPEEE_df['kehadiran_pct'].mean() #mecari rata-rata

np.float64(82.13235294117646)

Penjelasan Langkah-langkahnya

- Pertama, kita ubah dulu kolom kehadiran_pct menjadi tipe numerik agar bisa dihitung.
- Selanjutnya, kalau ada data yang nggak bisa diubah (misal teks), otomatis jadi NaN karena kita pakai errors='coerce'.
- Lalu, kita hitung rata-rata dari kolom tersebut menggunakan .mean() supaya tahu nilai kehadiran rata-ratanya.

In [ ]:
LIPEEE_df['kehadiran_pct'] = LIPEEE_df['kehadiran_pct'].fillna(82)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

Penjelasan Langkah-langkahnya

- Pertama, setelah kita tahu nilai rata-rata kolom kehadiran_pct, kita gunakan nilai tersebut (82) untuk mengisi data yang masih kosong.
- Selanjutnya, kita memakai .fillna(82) agar semua baris yang tadinya NaN berubah menjadi nilai 82.
- Lalu, perubahan ini langsung diterapkan ke kolom yang sama karena kita menulisnya langsung ke LIPEEE_df['kehadiran_pct'].

In [ ]:
LIPEEE_df.isna().sum()
#Cek Hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    2
dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita mengisi semua missing value, kita perlu memastikan apakah masih ada data yang kosong.
- Selanjutnya, kita gunakan fungsi LIPEEE_df.isna().sum() untuk menghitung jumlah nilai NaN di setiap kolom.
- Lalu, hasilnya akan menampilkan jumlah missing value per kolom, sehingga kita bisa cek apakah proses pembersihan data sudah berhasil sepenuhnya.

Kalau semua sudah 0, berarti dataset kita sudah bersih dari missing value.

In [ ]:
LIPEEE_df['tanggal_daftar'] = LIPEEE_df['tanggal_daftar'].fillna('2004-03-24')

# karena tanggal lagir di sini bertipe string jadi langsung masukan saja tidak perlu di cari rata-rata nya atau konversi ke numerik

Penjelasan Langkah-langkahnya

- Pertama, kita lihat bahwa kolom tanggal_daftar berisi data tanggal tetapi bentuknya masih berupa string, bukan tipe datetime.
- Selanjutnya, karena tipe datanya string, kita nggak bisa menghitung rata-rata tanggal atau mengonversinya ke numerik seperti pada kolom nilai atau kehadiran.
- Lalu, untuk mengatasi missing value, kita cukup mengisi nilai kosong dengan sebuah tanggal default, misalnya "2004-03-24", menggunakan .fillna().
- Dengan begitu, semua baris yang sebelumnya kosong pada kolom tanggal_daftar sekarang sudah terisi dan dataset jadi lebih rapi.

In [ ]:
LIPEEE_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita mengisi missing value pada kolom tanggal_daftar, kita perlu memastikan apakah masih ada nilai kosong di dataset.
- Selanjutnya, kita jalankan perintah LIPEEE_df.isna().sum() untuk menghitung jumlah nilai NaN di setiap kolom.
- Lalu, hasilnya akan menunjukkan apakah proses pengisian missing value sudah berhasil dan apakah semua kolom sudah bersih tanpa data kosong.

Sekarang tidak ada lagi data missing atau NaN

In [ ]:
LIPEEE_df.jurusan.value_counts()

jurusan
Energi               21
Informatika          17
Teknik               12
Manajemen Energi     11
Pembangkit Energi     2
teknik                1
 energi               1
ManajemenEnergi       1
EnErGi                1
Teknik                1
ENG                   1
ENERGI                1
Name: count, dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita membersihkan kolom jurusan, kita ingin tahu berapa banyak mahasiswa yang berasal dari setiap jurusan.
- Selanjutnya, kita gunakan fungsi value_counts() yang secara otomatis menghitung jumlah kemunculan setiap kategori pada kolom jurusan.
- Lalu, hasilnya akan menampilkan daftar jurusan beserta jumlah mahasiswanya, mulai dari yang paling banyak sampai yang paling sedikit.

In [ ]:
LIPEEE_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
21             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita membersihkan kolom umur dan memastikan tidak ada data yang kosong, kita ingin melihat sebaran umur mahasiswa.
- Selanjutnya, kita gunakan LIPEEE_df.umur.value_counts() untuk menghitung berapa kali tiap umur muncul dalam dataset.
- Lalu, hasilnya akan menampilkan umur yang paling sering muncul sampai yang paling jarang, sehingga kita bisa memahami karakteristik usia mahasiswa dalam data tersebut.

In [ ]:
LIPEEE_df['jurusan'] = LIPEEE_df['jurusan'].str.lower().str.strip()

LIPEEE_df['jurusan'] = LIPEEE_df['jurusan'].replace({
    'pembangkit energi': 'rekayasa pembangkit energi'
})

Penjelasan Langkah-langkahnya

- Pertama, kita ubah dulu semua teks di kolom jurusan menjadi huruf kecil menggunakan .str.lower() supaya formatnya seragam. Kita juga tambahkan .str.strip() agar spasi berlebih di awal atau akhir teks ikut dibersihkan.
- Selanjutnya, setelah jurusan sudah seragam formatnya, kita lakukan mapping atau penggantian nilai tertentu menggunakan .replace().
- Lalu, pada kode ini kita mengganti teks 'pembangkit energi' menjadi 'rekayasa pembangkit energi' agar penamaan jurusan lebih lengkap dan konsisten.

Dengan langkah ini, kolom jurusan jadi lebih rapi, standar, dan siap untuk analisis lanjutan.

In [ ]:
LIPEEE_df.jurusan.value_counts()

jurusan
energi                        24
informatika                   17
teknik                        14
manajemen energi              11
rekayasa pembangkit energi     2
manajemenenergi                1
eng                            1
Name: count, dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita melakukan standarisasi dan penggantian nama pada kolom jurusan, kita perlu melihat kembali distribusi jurusan yang sudah diperbarui.
- Selanjutnya, kita pakai LIPEEE_df.jurusan.value_counts() untuk menghitung jumlah mahasiswa di tiap jurusan dengan versi nama yang sudah rapi.
- Lalu, hasilnya akan menampilkan daftar jurusan dari yang jumlahnya paling banyak sampai paling sedikit, sehingga kita bisa melihat apakah perubahan tadi sudah sesuai dan konsisten

In [ ]:


#untuk memudahkan replacing maka di buatkan mapping jurusan sesuai dengan yg di inginkan, dengan kata-kata yg mirip di masukan ke jurusan yg seusai

mapping_jurusan = {
    "energi": "Rekayasa Pembangkit Energi",
    "energi": "Rekayasa Pembangkit Energi",
    "ENERGI": "Rekayasa Pembangkit Energi",
    "EnErGi": "Rekayasa Pembangkit Energi",
    "eng": "Rekayasa Pembangkit Energi",
    "teknik": "Rekayasa Pembangkit Energi",
    "Teknik": "Rekayasa Pembangkit Energi",
    "teknik": "Rekayasa Pembangkit Energi",
    "manajemenenergi": "Manajemen Energi",
    "manajemen energi": "Manajemen Energi"
}

Penjelasan Langkah-langkahnya

- Pertama, kita membuat sebuah dictionary bernama mapping_jurusan yang berisi pasangan key dan value.
- Selanjutnya, key-nya adalah berbagai variasi penulisan jurusan yang miripâ€”misalnya â€œenergiâ€, â€œENERGIâ€, â€œengâ€, atau â€œteknikâ€â€”yang mungkin muncul tidak konsisten dalam dataset.
- Lalu, setiap variasi tersebut diarahkan (di-mapping) ke satu nama jurusan yang benar dan konsisten, seperti "Rekayasa Pembangkit Energi" atau "Manajemen Energi".
- Dengan cara ini, kita bisa dengan mudah mengganti banyak variasi penulisan jurusan menjadi satu format yang terstandarisasi, sehingga analisis data nantinya lebih rapi dan tidak membingungkan.

In [ ]:
LIPEEE_df["jurusan"] = LIPEEE_df["jurusan"].replace(mapping_jurusan)

Penjelasan Langkah-langkahnya

- Pertama, setelah kita membuat mapping_jurusan, kita langsung gunakan mapping tersebut untuk mengganti semua variasi penulisan jurusan di dataset.
- Selanjutnya, perintah .replace(mapping_jurusan) akan mencari semua key dalam dictionary dan menggantinya dengan value yang sudah ditentukan.
- Lalu, kolom jurusan akan otomatis menjadi lebih rapi dan konsisten karena seluruh istilah yang mirip diarahkan ke nama jurusan yang benar.
- Dengan begitu, dataset jadi jauh lebih mudah dianalisis karena tidak ada lagi perbedaan penulisan jurusan yang bisa bikin data terpecah secara tidak sengaja.

In [ ]:
LIPEEE_df["jurusan"] = LIPEEE_df["jurusan"].str.title()

#kembalikan menjadi huruf besar

Penjelasan Langkah-langkahnya

- Pertama, setelah semua nama jurusan sudah distandarisasi menggunakan mapping, kita ingin membuat tampilannya lebih rapi secara visual.
- Selanjutnya, kita menggunakan .str.title() yang akan mengubah setiap kata menjadi huruf kapital di awal (Title Case), misalnya dari "rekayasa pembangkit energi" menjadi "Rekayasa Pembangkit Energi".
- Lalu, perubahan ini membuat kolom jurusan terlihat lebih profesional dan konsisten saat ditampilkan atau dianalisis.

Dengan langkah ini, seluruh nama jurusan sudah bersih, konsisten, dan rapi secara format penulisa

In [ ]:
LIPEEE_df.jurusan.value_counts()

jurusan
Rekayasa Pembangkit Energi    41
Informatika                   17
Manajemen Energi              12
Name: count, dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita rapikan penulisan jurusan dengan .str.title(), kita ingin mengecek kembali distribusi data jurusan.
- Selanjutnya, kita menggunakan LIPEEE_df.jurusan.value_counts() untuk menghitung jumlah mahasiswa di setiap jurusan dengan format penulisan yang sudah rapi dan konsisten.
- Lalu, hasilnya akan menampilkan daftar jurusan beserta jumlah masing-masing, dimulai dari yang paling banyak hingga yang paling sedikit.
- Dengan cara ini, kita bisa memastikan apakah mapping dan pembersihan data sebelumnya sudah berhasil diterapkan tanpa error atau inkonsistensi.

In [ ]:
print("Hasil setelah normalisasi dan pemetaan:")
print(LIPEEE_df['jurusan'].value_counts())

Hasil setelah normalisasi dan pemetaan:
jurusan
Rekayasa Pembangkit Energi    41
Informatika                   17
Manajemen Energi              12
Name: count, dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita menyelesaikan proses normalisasi (mengubah huruf, menghapus spasi, menstandarkan penulisan) dan melakukan pemetaan jurusan menggunakan dictionary, kita perlu menampilkan hasil akhirnya.
- Selanjutnya, kita pakai print("Hasil setelah normalisasi dan pemetaan:") sebagai teks pembuka supaya outputnya lebih jelas saat dibaca.
- Lalu, perintah print(LIPEEE_df['jurusan'].value_counts()) digunakan untuk menampilkan jumlah masing-masing jurusan yang sudah dibersihkan dan dipetakan.
- Dengan begitu, kita bisa melihat apakah proses normalisasi berjalan sesuai harapan dan apakah tidak ada lagi variasi penulisan jurusan yang berbeda-beda.

In [ ]:
LIPEEE_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
21             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita memastikan kolom umur sudah dibersihkan (misalnya sudah diisi nilai yang kosong dan sudah konsisten formatnya), kita bisa mulai melihat sebaran usia mahasiswa.
- Selanjutnya, kita menggunakan LIPEEE_df.umur.value_counts() untuk menghitung berapa kali setiap umur muncul dalam dataset.
- Lalu, hasilnya akan menampilkan umur yang paling sering muncul sampai yang paling jarang, sehingga kita bisa memahami distribusi usia mahasiswa secara lebih jelas.
- Dengan cara ini, kita bisa melihat apakah usia mahasiswa terpusat pada angka tertentu atau tersebar secara bervariasi.

In [ ]:
LIPEEE_df['umur'] = LIPEEE_df['umur'].replace('twenty', 20)

# bisa di lakuakn replace satu persatu seperti ini
# dari sebelumnya twenty menjadi 20

Penjelasan Langkah-langkahnya

- Pertama, kita menemukan bahwa ada data umur yang ditulis dalam bentuk teks, yaitu "twenty" yang seharusnya bernilai angka 20.
- Selanjutnya, kita melakukan proses pembersihan dengan menggunakan .replace('twenty', 20) agar nilai tersebut berubah menjadi format numerik seperti baris lainnya.
- Lalu, perubahan ini memastikan bahwa kolom umur berisi angka semua, sehingga bisa dipakai untuk perhitungan atau analisis statistik tanpa error.
- Dengan langkah ini, dataset menjadi lebih konsisten dan tidak ada lagi nilai umur dalam bentuk string yang bisa mengganggu proses analisis.

In [ ]:
print(LIPEEE_df['umur'].value_counts())

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
21             2
150            1
20             1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita melakukan proses replace pada nilai umur (misalnya mengganti "twenty" menjadi 20), kita perlu mengecek apakah perubahan tersebut sudah diterapkan dengan benar.
- Selanjutnya, kita menggunakan print(LIPEEE_df['umur'].value_counts()) untuk menampilkan jumlah kemunculan setiap nilai umur dalam dataset.
- Lalu, hasilnya akan menunjukkan distribusi umur terbaru yang sudah bersih dan konsisten setelah proses perbaikan.
- Dengan cara ini, kita bisa memastikan tidak ada lagi nilai umur dalam bentuk teks ataupun nilai yang tidak sesuai.

In [ ]:
"""mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': np.nan,
    -5: np.nan,
    120: np.nan,
    150: np.nan
}
"""
#untuk nilai yang NaN_string, -5, 120, 150 bisa langsung di ganti dengan rata-rata umur atau di jadikan missing value, tetapi jika di jadikan missing value maka setelah ini anda akan mengganti missing value tersebut, jadi sebelum itu lebih baik  di cari rata-rata nya terlebih dahulu lalu di ganti pada mappingan ini

"mapping_umur = {\n    'twenty': 20,\n    '21years': 21,\n    'NaN_string': np.nan,\n    -5: np.nan,\n    120: np.nan,\n    150: np.nan\n}\n"

Penjelasan Langkah-langkahnya

- Pertama, kita membuat sebuah mapping bernama mapping_umur yang berfungsi untuk menstandarkan berbagai nilai umur yang tidak valid atau ditulis dalam format yang salah.
- Selanjutnya, kita memasukkan beberapa kasus khusus ke dalam mapping tersebut misalnya "twenty" diubah menjadi 20, dan "21years" diubah menjadi 21, supaya format umur menjadi numerik dan konsisten.
- Lalu, untuk nilai yang aneh seperti "NaN_string", -5, 120, dan 150, kita tandai sebagai np.nan karena nilai-nilai tersebut tidak masuk akal untuk data umur mahasiswa.
- Sebelum itu, kita sadar bahwa nilai np.nan nantinya tetap harus diisi agar tidak mengganggu analisis. Makanya, disarankan untuk menghitung rata-rata umur valid terlebih dahulu, lalu baru dipakai sebagai pengganti nilai-nilai tersebut.
- Dengan cara ini, mapping umur yang kita buat akan memastikan bahwa semua nilai umur menjadi wajar, konsisten, dan siap untuk proses pembersihan lanjutan.

In [ ]:
LIPEEE_df['umur'] = pd.to_numeric(LIPEEE_df['umur'], errors='coerce')
LIPEEE_df['umur'].mean()

np.float64(25.16176470588235)

Penjelasan Langkah-langkahnya

- Pertama, kita ubah dulu seluruh isi kolom umur menjadi tipe numerik dengan pd.to_numeric().

   a. Perintah errors='coerce' membuat nilai yang tidak bisa dikonversi (misalnya teks atau nilai aneh) otomatis berubah menjadi NaN.
- Selanjutnya, setelah semua nilai umur dalam bentuk numerik, kita bisa menghitung rata-ratanya dengan .mean().
- Lalu, nilai rata-rata ini nantinya bisa dipakai untuk mengganti umur yang tidak valid atau yang berubah menjadi NaN pada proses konversi tadi.
- Dengan cara ini, kita memastikan bahwa kolom umur sudah siap untuk dianalisis karena semuanya sudah dalam bentuk angka dan tidak ada format campuran.

In [ ]:
mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': 25,
    -5: 25,
    120: 25,
    150: 25
}

Penjelasan Langkah-langkahnya

- Pertama, setelah kita mengetahui rata-rata umur (misalnya menghasilkan nilai 25), kita memperbarui mapping_umur agar nilai umur yang tidak valid langsung diganti menggunakan nilai rata-rata tersebut.
- Selanjutnya, entri seperti 'NaN_string', -5, 120, dan 150 dianggap tidak masuk akal sebagai umur mahasiswa, sehingga semuanya diganti dengan angka 25 yang merupakan umur rata-ratanya.
- Lalu, nilai seperti 'twenty' dan '21years' tetap dimapping ke angka yang sesuai, yaitu 20 dan 21, agar data umur tetap konsisten dan bisa dianalisis.
- Dengan cara ini, mapping umur menjadi lebih rapi dan efisien karena semua nilai aneh langsung dibersihkan dan tidak menghasilkan missing value tambahan.

In [ ]:
LIPEEE_df['umur'] = LIPEEE_df['umur'].replace(mapping_umur)

Penjelasan Langkah-langkahnya

- Pertama, setelah kita membuat mapping_umur yang berisi nilai-nilai umur tidak valid beserta penggantiannya, kita langsung menerapkannya ke kolom umur.
- Selanjutnya, perintah .replace(mapping_umur) akan mencari semua nilai yang muncul sebagai key dalam mapping tersebut, kemudian menggantinya dengan value yang sudah kita tentukan.
- Lalu, proses ini akan membersihkan data umur dari nilai seperti "twenty", "21years", -5, 120, dan 150, sehingga semuanya berubah menjadi nilai umur yang benar dan masuk akal.
- Dengan langkah ini, kolom umur menjadi benar-benar rapi, konsisten, dan siap untuk dianalisis tanpa ada nilai aneh atau tidak valid.

In [ ]:
LIPEEE_df['umur'] = LIPEEE_df['umur'].fillna(25).astype(int)

print("Hasil setelah pemetaan:")
print(LIPEEE_df['umur'].value_counts())
print(f"\nTipe data kolom 'umur' sekarang: {LIPEEE_df['umur'].dtype}")

Hasil setelah pemetaan:
umur
25    15
23    15
20    10
24     9
22     8
19     7
21     6
Name: count, dtype: int64

Tipe data kolom 'umur' sekarang: int64

Penjelasan Langkah-langkahnya

- Pertama, setelah kita melakukan mapping pada nilai umur, masih ada kemungkinan muncul nilai NaN akibat konversi atau penggantian sebelumnya. Maka kita isi sisa nilai NaN tersebut menggunakan rata-rata umur, yaitu 25, dengan perintah .fillna(25).
- Selanjutnya, kita ubah tipe data kolom umur menjadi integer menggunakan .astype(int) supaya semua nilai tampil sebagai bilangan bulat, bukan float. Hal ini membuat datanya lebih rapi dan sesuai konteks umur.
- Lalu, kita gunakan print(LIPEEE_df['umur'].value_counts()) untuk melihat distribusi umur setelah seluruh proses pemetaan, penggantian, dan pembersihan selesai dilakukan.
- Terakhir, perintah print(f"Tipe data kolom 'umur' sekarang: {LIPEEE_df['umur'].dtype}") menampilkan tipe data terbaru dari kolom tersebut, dan harusnya sekarang sudah berubah menjadi int64.
- Dengan cara ini, kolom umur sudah bersih, bebas dari nilai aneh, tidak ada NaN, dan konsisten dalam format angka bulat.

In [ ]:
LIPEEE_df['tanggal_daftar'] = LIPEEE_df['tanggal_daftar'].fillna('2004-03-24')
LIPEEE_df['tanggal_daftar'] = pd.to_datetime(LIPEEE_df['tanggal_daftar'], errors='coerce', format='mixed')

Penjelasan Langkah-langkahnya

- Pertama, kita mengisi nilai kosong pada kolom tanggal_daftar menggunakan tanggal default yaitu '2004-03-24'. Karena kolom ini sebelumnya bertipe string, memasukkan tanggal dalam format teks tidak menjadi masalah.
- Selanjutnya, kita mengonversi seluruh isi kolom tanggal_daftar menjadi tipe datetime menggunakan pd.to_datetime().
- Lalu, kita menambahkan errors='coerce' sehingga jika ada tanggal yang formatnya tidak bisa dibaca, nilai tersebut otomatis berubah menjadi NaT (missing value khusus untuk tanggal).
- Format 'mixed' digunakan karena dataset mungkin berisi berbagai format tanggal berbeda (misalnya 2024-03-21, 17/02/2024, 24 Nov 2024, dll), sehingga pandas akan mencoba membaca berbagai variasi tanpa error.
- Dengan langkah ini, kolom tanggal_daftar menjadi jauh lebih rapi, terkonversi ke bentuk datetime, dan lebih mudah digunakan untuk analisis seperti sorting, filtering berdasarkan rentang tanggal, atau perhitungan selisih ha

In [ ]:
LIPEEE_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Penjelasan Langkah-langkahnya

- LIPEEE_df.isna().sum() adalah perintah untuk menghitung jumlah nilai NaN (missing value) di setiap kolom dalam DataFrame.
- LIPEEE_df.isna() â†’ menghasilkan DataFrame berisi True/False, di mana True berarti datanya NaN.
- .sum() â†’ menjumlahkan nilai True per kolom (karena True = 1 dan False = 0).

In [ ]:
import pandas as pd
from dateutil import parser

# 1) Ubah semua jadi string
LIPEEE_df['tanggal_daftar'] = LIPEEE_df['tanggal_daftar'].astype(str)

# 2) Hapus karakter aneh atau whitespace tersembunyi
LIPEEE_df['tanggal_daftar'] = LIPEEE_df['tanggal_daftar'].str.strip()

# 3) Parsing aman
def smart_parse(x):
    try:
        return parser.parse(x)
    except:
        return pd.NaT

LIPEEE_df['tanggal_daftar'] = LIPEEE_df['tanggal_daftar'].apply(smart_parse)

# 4) Format akhir
LIPEEE_df['tanggal_daftar'] = LIPEEE_df['tanggal_daftar'].dt.strftime('%Y-%m-%d')

Penjelasan Langkah-langkahnya

- Mengubah kolom jadi string

  Kita ubah dulu semua isi tanggal_daftar menjadi tipe string. Tujuannya supaya format data apa pun (angka, teks, campuran) aman untuk diproses tanpa error.

- Membersihkan whitespace
  
  Setelah itu kita hapus spasi berlebih atau karakter tersembunyi dengan .str.strip(). Kadang tanggal gagal diproses hanya karena ada spasi di depan/belakang.

- Parsing memakai smart_parse
  
  Fungsi smart_parse mencoba membaca tanggal apa pun, misalnya 24 Nov 2024, 2024/03/10, 09-17-2024, dll. Kalau formatnya benar â†’ dikonversi menjadi datetime. Kalau formatnya kacau â†’ otomatis jadi NaT (missing). Jadi parsing aman tanpa bikin error.

- Menyeragamkan format ke YYYY-MM-DD
  
  Setelah semua tanggal berhasil dibaca, kita ubah tampilannya menjadi satu format standar YYYY-MM-DD. Ini membuat kolom tanggal jadi rapi dan mudah dipakai untuk sorting, filtering, atau analisis.

In [ ]:
mask = LIPEEE_df['tanggal_daftar'].isna()
LIPEEE_df.loc[mask, 'tanggal_daftar']

Series([], Name: tanggal_daftar, dtype: object)

Penjelasan Langkah-langkahnya

- Membuat mask

  Kita buat penanda dengan isna() untuk mengetahui baris mana pada tanggal_daftar yang masih kosong.

- Menyaring data kosong

  Mask tersebut dipakai di LIPEEE_df.loc[...] untuk menampilkan hanya baris yang tanggalnya NaN/NaT.

- Tujuan pengecekan

  Dipakai untuk memastikan apakah masih ada tanggal yang belum berhasil dibersihkan setelah proses sebelumnya.

In [ ]:
LIPEEE_df.head(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Rekayasa Pembangkit Energi,25,59.5,82.0,2024-05-05
1,E0002,Budi,Rekayasa Pembangkit Energi,20,84.5,99.0,2024-02-14
2,E0003,Citra,Rekayasa Pembangkit Energi,25,56.2,78.0,2024-04-29
3,E0004,Dewi,Rekayasa Pembangkit Energi,20,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22,999.0,65.0,2024-03-22
5,E0006,Fajar,Rekayasa Pembangkit Energi,21,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19,70.2,150.0,2024-06-25
7,E0008,Hendra,Rekayasa Pembangkit Energi,25,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25,58.2,83.0,2024-11-17
9,E0010,Joko,Rekayasa Pembangkit Energi,23,62.7,69.0,2024-01-24
10,E0011,Kiki,Rekayasa Pembangkit Energi,25,66.6,70.0,2024-05-02
11,E0012,Lina,Informatika,22,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21,63.4,82.0,2024-12-25
13,E0014,Nando,Rekayasa Pembangkit Energi,23,80.4,99.0,2024-05-05
14,E0015,Oki,Rekayasa Pembangkit Energi,22,70.2,100.0,2024-04-22
15,E0016,Putu,Rekayasa Pembangkit Energi,25,85.7,68.0,2024-04-27
16,E0017,Qori,Rekayasa Pembangkit Energi,25,67.6,82.0,2024-02-03
17,E0018,Rina,Rekayasa Pembangkit Energi,23,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22,90.4,94.0,2004-03-24
19,E0020,Tono,Informatika,20,64.9,100.0,2024-10-02
20,E0021,Uli,Rekayasa Pembangkit Energi,24,78.4,90.0,2024-07-04
21,E0022,Vina,Rekayasa Pembangkit Energi,25,75.4,70.0,2024-01-25
22,E0023,Wawan,Rekayasa Pembangkit Energi,20,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22,70.3,94.0,2024-09-27
24,E0025,Yudi,Rekayasa Pembangkit Energi,23,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24,90.4,82.0,2024-11-24
26,E0027,Arif,Rekayasa Pembangkit Energi,19,66.7,75.0,2024-11-24
27,E0028,Bima,Rekayasa Pembangkit Energi,24,90.0,81.0,2024-09-13
28,E0029,Cici,Rekayasa Pembangkit Energi,23,91.5,84.0,2024-11-23
29,E0030,Dani,Rekayasa Pembangkit Energi,20,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23,68.0,66.0,2024-02-27
31,E0032,Ferry,Rekayasa Pembangkit Energi,25,87.3,80.0,2024-01-30
32,E0033,Gilang,Rekayasa Pembangkit Energi,23,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22,94.8,88.0,2004-03-24
37,E0038,Lulu,Rekayasa Pembangkit Energi,19,64.9,69.0,2024-06-22
38,E0039,Mita,Rekayasa Pembangkit Energi,23,77.2,79.0,2024-01-04
39,E0040,Nina,Rekayasa Pembangkit Energi,24,80.2,79.0,2024-09-17
40,E0041,Omar,Informatika,25,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24,74.4,99.0,2024-03-08
42,E0043,Rico,Rekayasa Pembangkit Energi,20,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19,81.4,87.0,2024-08-04
44,E0045,Tari,Rekayasa Pembangkit Energi,22,89.6,68.0,2024-12-10
45,E0046,Umar,Rekayasa Pembangkit Energi,19,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20,62.6,93.0,2024-06-28
47,E0048,Widi,Manajemen Energi,20,66.1,80.0,2024-02-08
48,E0049,Xul,Rekayasa Pembangkit Energi,25,89.5,100.0,2024-05-22
49,E0050,Yosef,Rekayasa Pembangkit Energi,24,95.0,65.0,2024-02-17

Penjelasan Langkah-langkahnya

- Memanggil fungsi .head()

  Kita menggunakan fungsi .head() yang ada di pandas. Secara default fungsi ini hanya menampilkan 5 baris pertama, tapi kita bisa menambahkan angka untuk menentukan berapa baris yang ingin dilihat.

- Memberi argumen 50

  Dengan menuliskan .head(50), berarti kita meminta pandas untuk menampilkan 50 baris pertama dari DataFrame LIPEEE_df.

- Mengecek kondisi data awal

  Setelah ditampilkan, kita bisa melihat apakah data di baris-baris awal sudah rapi, apakah masih ada nilai aneh, format tidak sesuai, atau apakah hasil cleaning sebelumnya sudah berjalan benar.

- Digunakan untuk validasi hasil cleaning
  
  Biasanya kita lakukan ini setelah banyak melakukan pembersihan data, supaya bisa memastikan bahwa semua perubahan sudah diterapkan dengan benar dan tidak ada data yang rusak di bagian awal dataset.

In [ ]:
LIPEEE_df.tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
20,E0021,Uli,Rekayasa Pembangkit Energi,24,78.4,90.0,2024-07-04
21,E0022,Vina,Rekayasa Pembangkit Energi,25,75.4,70.0,2024-01-25
22,E0023,Wawan,Rekayasa Pembangkit Energi,20,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22,70.3,94.0,2024-09-27
24,E0025,Yudi,Rekayasa Pembangkit Energi,23,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24,90.4,82.0,2024-11-24
26,E0027,Arif,Rekayasa Pembangkit Energi,19,66.7,75.0,2024-11-24
27,E0028,Bima,Rekayasa Pembangkit Energi,24,90.0,81.0,2024-09-13
28,E0029,Cici,Rekayasa Pembangkit Energi,23,91.5,84.0,2024-11-23
29,E0030,Dani,Rekayasa Pembangkit Energi,20,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23,68.0,66.0,2024-02-27
31,E0032,Ferry,Rekayasa Pembangkit Energi,25,87.3,80.0,2024-01-30
32,E0033,Gilang,Rekayasa Pembangkit Energi,23,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22,94.8,88.0,2004-03-24
37,E0038,Lulu,Rekayasa Pembangkit Energi,19,64.9,69.0,2024-06-22
38,E0039,Mita,Rekayasa Pembangkit Energi,23,77.2,79.0,2024-01-04
39,E0040,Nina,Rekayasa Pembangkit Energi,24,80.2,79.0,2024-09-17
40,E0041,Omar,Informatika,25,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24,74.4,99.0,2024-03-08
42,E0043,Rico,Rekayasa Pembangkit Energi,20,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19,81.4,87.0,2024-08-04
44,E0045,Tari,Rekayasa Pembangkit Energi,22,89.6,68.0,2024-12-10
45,E0046,Umar,Rekayasa Pembangkit Energi,19,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20,62.6,93.0,2024-06-28
47,E0048,Widi,Manajemen Energi,20,66.1,80.0,2024-02-08
48,E0049,Xul,Rekayasa Pembangkit Energi,25,89.5,100.0,2024-05-22
49,E0050,Yosef,Rekayasa Pembangkit Energi,24,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,21,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25,86.4,83.0,2024-08-04
53,E0054,Cahyo,Rekayasa Pembangkit Energi,25,62.6,78.0,2024-01-30
54,E0055,Dina,Rekayasa Pembangkit Energi,24,67.5,68.0,2024-10-26
55,E0056,Edo,Rekayasa Pembangkit Energi,23,88.0,98.0,2024-03-21
56,E0057,Fauzi,Rekayasa Pembangkit Energi,23,58.2,76.0,2024-02-05
57,E0058,Gita,Rekayasa Pembangkit Energi,24,89.5,90.0,2024-03-02
58,E0059,Hadi,Informatika,23,78.8,70.0,2024-08-02
59,E0060,Ilham,Informatika,21,88.0,85.0,2024-05-02
60,E0061,Jaya,Informatika,22,60.2,84.0,2024-08-22
61,E0062,Kirana,Rekayasa Pembangkit Energi,25,92.4,65.0,2024-08-22
62,E0063,Lutfi,Rekayasa Pembangkit Energi,19,76.5,97.0,2024-05-15
63,E0064,Mega,Rekayasa Pembangkit Energi,21,90.2,80.0,2024-07-08
64,E0065,Nadia,Informatika,21,72.5,99.0,2024-12-26
65,E0066,Oleh,Rekayasa Pembangkit Energi,23,94.4,98.0,2024-01-05
66,E0067,Putri,Rekayasa Pembangkit Energi,24,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23,74.5,68.0,2024-02-17

Penjelasan Langkah-langkahnya

- Memanggil fungsi .tail()

  Kita menggunakan fungsi .tail() dari pandas. Fungsinya kebalikan dari .head(), yaitu menampilkan data di bagian akhir DataFrame.

- Memberikan argumen 50

  Dengan menulis .tail(50), kita meminta pandas untuk menampilkan 50 baris terakhir dari DataFrame LIPEEE_df.

- Mengecek kondisi data bagian akhir

  Setelah muncul, kita bisa melihat apakah baris-baris terakhir juga sudah bersih, apakah ada nilai yang masih aneh, atau apakah proses cleaning sebelumnya sudah konsisten sampai akhir.

- Validasi keseluruhan dataset

  Melihat bagian akhir dataset membantu memastikan bahwa tidak ada masalah yang hanya muncul di baris terakhir seperti missing value baru, format tidak sesuai, atau data tidak lengkap.

In [ ]:
LIPEEE_df['umur'].mean() #mencari rata-rata

np.float64(22.442857142857143)

Penjelasan Langkah-langkahnya

- Memilih kolom umur

  Kita mengambil kolom umur dari DataFrame LIPEEE_df menggunakan LIPEEE_df['umur']. Kolom ini berisi data usia setiap mahasiswa.

- Memanggil fungsi .mean()

  Setelah kolomnya diambil, kita gunakan .mean() untuk menghitung nilai rata-rata dari seluruh data umur yang ada.

- Menghasilkan nilai rata-rata umur

  Outputnya berupa angka float, misalnya 21.8 atau 25.0, tergantung isi dataset setelah proses cleaning.

- Tujuan perhitungan

  Kita melakukan langkah ini untuk mengetahui rata-rata umur mahasiswaâ€”biasanya dipakai sebagai acuan untuk mengisi missing value atau analisis deskriptif.

In [ ]:
LIPEEE_df['umur'] = LIPEEE_df['umur'].fillna(22) #isi dengan nilai rata-rata

Penjelasan Langkah-langkahnya

- Memilih kolom umur

  Kita ambil kolom umur dari DataFrame LIPEEE_df, karena kolom ini masih memiliki beberapa nilai yang kosong (NaN).

- Menggunakan fungsi .fillna()

  Fungsi .fillna(22) digunakan untuk mengganti semua nilai yang kosong di kolom tersebut dengan angka 22.

- Mengisi dengan nilai rata-rata

  Angka 22 dipakai sebagai nilai rata-rata umur yang sudah dihitung sebelumnya. Jadi, setiap baris yang awalnya kosong akan diisi dengan nilai ini supaya tidak ada missing value.

- Menyimpan hasilnya kembali

  Hasil pengisian tersebut disimpan kembali ke kolom umur, sehingga dataset menjadi lengkap dan siap digunakan untuk analisis lebih lanjut.

In [ ]:
LIPEEE_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Penjelasan Langkah-langkahnya

- Memanggil fungsi .isna()

  Kita gunakan .isna() untuk mengecek seluruh DataFrame dan menandai nilai yang kosong (NaN) dengan True dan yang tidak kosong dengan False.

- Menjumlahkan nilai kosong per kolom

  Setelah itu .sum() menghitung total nilai True di setiap kolom, yang berarti menghitung berapa banyak missing value dalam tiap kolom.

- Menampilkan jumlah NaN

  Hasil akhirnya berupa daftar jumlah missing value di setiap kolom, sehingga kita bisa tahu kolom mana yang masih perlu dibersihkan.

In [ ]:
LIPEEE_df.duplicated().sum()

np.int64(0)

Penjelasan Langkah-langkahnya

- Mengecek baris duplikat dengan .duplicated()

  Fungsi ini mengecek seluruh baris dalam DataFrame dan menandai baris yang sama persis dengan baris sebelumnya.
Jika baris itu duplikat â†’ ditandai True, kalau unik â†’ False.

- Menjumlahkan jumlah duplikat

  Dengan menambahkan .sum(), kita menghitung berapa banyak nilai True, artinya berapa jumlah baris yang terduplikasi.

- Tujuan pemeriksaan

  Langkah ini dipakai untuk memastikan apakah dataset memiliki baris yang ganda sebelum proses cleaning dilanjutkan.

In [ ]:
LIPEEE_df.head(55)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Rekayasa Pembangkit Energi,25,59.5,82.0,2024-05-05
1,E0002,Budi,Rekayasa Pembangkit Energi,20,84.5,99.0,2024-02-14
2,E0003,Citra,Rekayasa Pembangkit Energi,25,56.2,78.0,2024-04-29
3,E0004,Dewi,Rekayasa Pembangkit Energi,20,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22,999.0,65.0,2024-03-22
5,E0006,Fajar,Rekayasa Pembangkit Energi,21,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19,70.2,150.0,2024-06-25
7,E0008,Hendra,Rekayasa Pembangkit Energi,25,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25,58.2,83.0,2024-11-17
9,E0010,Joko,Rekayasa Pembangkit Energi,23,62.7,69.0,2024-01-24
10,E0011,Kiki,Rekayasa Pembangkit Energi,25,66.6,70.0,2024-05-02
11,E0012,Lina,Informatika,22,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21,63.4,82.0,2024-12-25
13,E0014,Nando,Rekayasa Pembangkit Energi,23,80.4,99.0,2024-05-05
14,E0015,Oki,Rekayasa Pembangkit Energi,22,70.2,100.0,2024-04-22
15,E0016,Putu,Rekayasa Pembangkit Energi,25,85.7,68.0,2024-04-27
16,E0017,Qori,Rekayasa Pembangkit Energi,25,67.6,82.0,2024-02-03
17,E0018,Rina,Rekayasa Pembangkit Energi,23,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22,90.4,94.0,2004-03-24
19,E0020,Tono,Informatika,20,64.9,100.0,2024-10-02
20,E0021,Uli,Rekayasa Pembangkit Energi,24,78.4,90.0,2024-07-04
21,E0022,Vina,Rekayasa Pembangkit Energi,25,75.4,70.0,2024-01-25
22,E0023,Wawan,Rekayasa Pembangkit Energi,20,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22,70.3,94.0,2024-09-27
24,E0025,Yudi,Rekayasa Pembangkit Energi,23,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24,90.4,82.0,2024-11-24
26,E0027,Arif,Rekayasa Pembangkit Energi,19,66.7,75.0,2024-11-24
27,E0028,Bima,Rekayasa Pembangkit Energi,24,90.0,81.0,2024-09-13
28,E0029,Cici,Rekayasa Pembangkit Energi,23,91.5,84.0,2024-11-23
29,E0030,Dani,Rekayasa Pembangkit Energi,20,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23,68.0,66.0,2024-02-27
31,E0032,Ferry,Rekayasa Pembangkit Energi,25,87.3,80.0,2024-01-30
32,E0033,Gilang,Rekayasa Pembangkit Energi,23,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22,94.8,88.0,2004-03-24
37,E0038,Lulu,Rekayasa Pembangkit Energi,19,64.9,69.0,2024-06-22
38,E0039,Mita,Rekayasa Pembangkit Energi,23,77.2,79.0,2024-01-04
39,E0040,Nina,Rekayasa Pembangkit Energi,24,80.2,79.0,2024-09-17
40,E0041,Omar,Informatika,25,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24,74.4,99.0,2024-03-08
42,E0043,Rico,Rekayasa Pembangkit Energi,20,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19,81.4,87.0,2024-08-04
44,E0045,Tari,Rekayasa Pembangkit Energi,22,89.6,68.0,2024-12-10
45,E0046,Umar,Rekayasa Pembangkit Energi,19,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20,62.6,93.0,2024-06-28
47,E0048,Widi,Manajemen Energi,20,66.1,80.0,2024-02-08
48,E0049,Xul,Rekayasa Pembangkit Energi,25,89.5,100.0,2024-05-22
49,E0050,Yosef,Rekayasa Pembangkit Energi,24,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,21,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25,86.4,83.0,2024-08-04
53,E0054,Cahyo,Rekayasa Pembangkit Energi,25,62.6,78.0,2024-01-30
54,E0055,Dina,Rekayasa Pembangkit Energi,24,67.5,68.0,2024-10-26

Penjelasan Langkah-langkahnya

- Memanggil fungsi .head()

  Kita memakai .head() untuk melihat data pada bagian awal DataFrame. Biasanya .head() tanpa angka hanya menampilkan 5 baris pertama.

- Menambahkan argumen 55

  Dengan menulis .head(55), kita meminta pandas untuk menampilkan 55 baris teratas dari DataFrame LIPEEE_df.

- Mengecek kondisi data awal secara lebih luas

  Menampilkan 55 baris memberi kita gambaran yang lebih lengkap tentang kondisi data, apakah format sudah rapi, apakah ada nilai aneh, atau apakah hasil cleaning sudah konsisten.

- Untuk validasi hasil pembersihan

  Langkah ini membantu memastikan bahwa data di bagian awal dataset sudah benar setelah proses preprocessing sebelumnya.

In [ ]:
LIPEEE_df.tail()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
65,E0066,Oleh,Rekayasa Pembangkit Energi,23,94.4,98.0,2024-01-05
66,E0067,Putri,Rekayasa Pembangkit Energi,24,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23,74.5,68.0,2024-02-17

Penjelasan Langkah-langkahnya

- Memanggil fungsi .tail()

  Kita menggunakan .tail() untuk melihat data di bagian akhir DataFrame.

- Tidak memberi angka (pakai default)

  Karena tidak ada angka di dalam kurung, pandas otomatis menampilkan 5 baris terakhir dari dataset.

 - Mengecek kondisi data bagian akhir

   Tujuannya adalah memastikan apakah data di baris-baris paling bawah sudah rapi, apakah ada missing value, atau ada format yang belum benar.

- Validasi hasil cleaning

  Ini membantu memastikan bahwa perubahan yang kita lakukan sebelumnya konsisten, tidak hanya di bagian awal tapi juga di bagian akhir dataset.

In [ ]:
LIPEEE_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     int64
 4   nilai_akhir     70 non-null     float64
 5   kehadiran_pct   70 non-null     float64
 6   tanggal_daftar  70 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 6.4+ KB

Penjelasan Langkah-langkahnya

- Memanggil fungsi .info()

  Kita menjalankan .info() untuk melihat ringkasan struktur DataFrame secara keseluruhan.

- Menampilkan jumlah baris & kolom

  Outputnya memberi tahu berapa total baris data dan ada berapa kolom di dalam dataset.

- Menampilkan tipe data tiap kolom

  Fungsi ini menunjukkan apakah sebuah kolom bertipe int, float, object (string), atau datetime. Ini penting untuk memastikan tipe data sudah sesuai setelah proses cleaning.

- Menampilkan jumlah non-null

  Untuk setiap kolom, .info() menunjukkan berapa banyak data yang tidak kosong, sehingga kita bisa tahu kolom mana yang masih punya missing value.

- Tujuan utama

  Kita memakai .info() buat mengecek kondisi data secara cepat sebelum atau sesudah melakukan preprocessing, memastikan semuanya sudah konsisten dan siap dianalisis.

In [ ]:
LIPEEE_df.to_csv('mahasiswa_clean.csv', index=False)

Penjelasan Langkah-langkahnya

- Memanggil fungsi .to_csv()

  Kita menggunakan .to_csv() untuk menyimpan DataFrame yang sudah dibersihkan ke dalam format file CSV.

- Menentukan nama file output

  'mahasiswa_clean.csv' adalah nama file baru yang akan dibuat. File ini berisi data yang sudah rapi dan sudah melalui proses cleaning.

- Menggunakan index=False

  Dengan memberikan index=False, kita memerintahkan pandas agar tidak menyertakan kolom index (0, 1, 2, â€¦) ke dalam file CSV.
Hasil file jadi lebih bersih dan siap digunakan oleh orang lain atau program lain.

- Tujuan akhirnya

  Perintah ini menyimpan dataset hasil pembersihan supaya bisa dipakai kembali tanpa harus melakukan cleaning ulang dari awal.

In [ ]:
from google.colab import files
files.download('mahasiswa_clean.csv')

Penjelasan Langkah-langkahnya

- Import modul files dari google.colab

  Kita mengimport files agar bisa memakai fitur download bawaan Google Colab.

- Memanggil fungsi files.download()

  Fungsi ini digunakan untuk mengunduh file yang ada di storage Colab ke laptop kita.

- Menentukan nama file yang mau di-download

  'mahasiswa_clean.csv' adalah file hasil cleaning yang sebelumnya kita simpan menggunakan .to_csv().
Dengan memanggil files.download(), Colab langsung men-trigger proses download ke penyimpanan lokal.

- Tujuan akhirnya

  Perintah ini dipakai supaya kita bisa memiliki file CSV yang sudah bersih di komputer, sehingga bisa dipakai untuk laporan, analisis lanjutan, atau dipindahkan ke aplikasi lain.